BasedOnStyle: LLVM

BreakBeforeBraces: Attach

PackConstructorInitializers: Never
BreakConstructorInitializers: AfterColon

MaxEmptyLinesToKeep: 2

AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty

ColumnLimit: 100
BinPackParameters: true
# SortIncludes: Never
